.home{
    background-image: url(../images/norway.jpg);
    background-position: top center;
    background-size: cover;
    min-height: 100vh;

    .content{
        padding-top: 40vh;
        text-align: center;
        color: white;
        h6{
            margin: 0;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1.6px;
        }
        h1{
            margin: 0;
            font-size: 160px;
            font-weight: 700;
            letter-spacing: 12px;
        }
    }
}